<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projekt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrzepisSzczegoly"></activity>
        <activity android:name=".PrzepisSzczegolyUlubione"></activity>
        <activity android:name=".Kupony" />
        <activity android:name=".Konto" />
        <activity android:name=".Ulubione" />
        <activity android:name=".RejestracjaActivity" />
        <activity android:name=".EdycjaPrzepisuActivity" />
        <activity android:name=".ZmianaEmaila" />
        <activity android:name=".ZmianaHasla"
            android:theme="@style/AppTheme.CustomTheme"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme.CustomTheme"></activity>
    </application>

</manifest>